body {
background:url(../img/menu.png) left repeat-y #f2f2f2;
font-family:sans-serif;
margin:0
}

a {
color:#f92672
}

#menu,#content {
position:absolute
}

#menu {
width:182px;
padding-right:18px;
text-align:right
}

#content {
margin-left:186px;
margin-bottom:50px
}

#lifefeed blockquote {
margin:10px;
color:#444;
width:400px
}

#lifefeed >li {
font-size:13px;
list-style:none;
padding:3px 0 3px 35px;
margin-bottom:5px
}

#lifefeed li #time {
color:grey
}

#lifefeed li #time,#lifefeed li hidden {
visibility:hidden
}

#lifefeed li:hover #time,#lifefeed li:hover hidden {
visibility:visible
}

#title,#desc {
margin-bottom:25px
}

.twitter {
border-left:4px solid #00aced;
background:url(../img/twitter.ico) 5px 3px no-repeat
}

.github {
border-left:4px solid #000;
background:url(../img/github.ico) 5px 3px no-repeat
}

.lastfm {
border-left:4px solid #EE4229;
background:url(../img/lastfm.ico) 5px 3px no-repeat
}

.blog {
border-left:4px solid #f92672;
background:url(../img/wordpress.ico) 5px 3px no-repeat;
background-size:16px 16px
}

#errorpage {
width: 500px;
margin: 0px auto;
padding: 100px 0px;
}
